/* --------------------------
  Base Styles
--------------------------- */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

* {
  box-sizing: border-box; 
}

body {
  color: #797e83;
  font-size: 16px;
	margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; 
}

h1 {
	font-size: 1.6em;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; 
}

.banner,
.main-footer {
	text-align: center;
}

.main-footer {
	background: pink;
	padding: 1.5em;
	margin-top: 2em;
}
.banner {
	color: #fff;
	background: url('../img/fondo.jpg');
	background-size: contain;
	padding: 10em 0;
	margin-bottom: 48px;
}

.gallery { 
  max-width: 1020px;
  margin: auto;
  /*border: 4px solid black;*/
  /*background-color: #ccc;*/
}
.gallery { 
  padding : 2px;
  padding: 0.4vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.gallery div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: 0.5vw; 
}
.gallery div img { 
  width: 100%; 
  height: auto; 
}


/*BLUR*/
.blur img {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/*.banner-img {
	width: 190px;
}*/

.container {
	width: 90%;
	margin: auto;
	margin-bottom: 2em;
}

.main-content {
	margin-top: 3.25em;
}

h2 {
	text-align: center;
	font-family: lobster;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 1200px) {
	.container {
		width: 1080px;
	}
}