/* --------------------------
  Main Styles
--------------------------- */

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.main-header {
	padding-top: 2em;
}

.site-logo {
	width: 110px;
	align-self: center;
}

.site-logo img{
		max-width: 100%;
	}

.nav {
	margin-top: 1.5em;
	font-family: lobster;
	text-shadow: 1px 1px #ddd;
}

.primary, .secondary {
	text-align: center;
}

.primary img, .secondary img {
	padding: 10px;
	max-width: 150px;
}

.row h2 {
	margin-top: 0;
}

span {
	background: pink;
}

.nav a {
	display: block;
	color: #797e83;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color: #0b0b0b;
	border-bottom-color: pink;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.row {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
	.main-header {
		justify-content: flex-end;
	}
	.site-logo {
		width: 140px;
	}

	.site-logo img{
		max-width: 100%;
	}
	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
	}
	.row {
		display: flex;
	}
	.col {
		flex: 1;
	}
}

@media (min-width: 1025px) {

	.primary {
		flex: 1;
	}
	
}

